{% load static %}
    {% include 'include/header.html' %}

      {% if messages %}
        {% for message in messages %}
        <script>
            Swal.fire({
                title: '{{ message.tags|title }}',
                text: '{{ message }}',
                icon: '{{ message.tags }}'
            });
        </script>
        {% endfor %}
        {% endif %}

    <div class="dashboard-layout flex h-screen overflow-hidden " id="dashboardLayout">
        
       
        {% include 'include/sidebar.html' %}

        <div class="flex flex-col flex-1 overflow-x-hidden overflow-y-auto">
            
           {% include 'include/navbar.html' %}
           
           <main class="main-content flex-1 p-4 sm:p-6 lg:p-8">
               {% block content %}
               {% endblock content %}
            </main>
            
            {% include 'include/footer.html' %}
            
        </div>
        
        <div id="sidebarOverlay" class="fixed inset-0 bg-black opacity-0 pointer-events-none 
        lg:hidden z-20 transition-opacity duration-300"></div>
    </div>
    
    {% include 'include/script.html' %}
